.Contenedor_About {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.Integantres {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    min-width: 40rem;
}

.Listado {
    width: 100%;
}