.card-movie {
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
  display: flex;
  justify-content: center;
  width: 95vw;
  margin: 1rem;
  margin-top: 1.5rem;
  padding: 2rem;
  border: 0.4rem solid var(--color-azul);
  border-radius: 2rem;
  background-color: var(--color-blanco);
  align-items: center;
  min-height: calc(100vh - 18rem);
  position: relative;
}

.img-container {
  width: 100vw; 
  padding: 2rem;
  background-color: var(--color-azul);
  border: 0.4rem solid var(--color-naranja);
  min-height: calc(100vh - 18rem);
  position: relative;
  border-radius: 2rem;
}

.img-pelicula {
  width: 100%;
  min-height: calc(100vh - 18rem);
  object-fit: contain;
  border-radius: 2rem;
  filter: brightness(0.6); /* sombreado a la imagen de fondo */
}

.info-container {
  width: 50%;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datos-container {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-blanco);
  padding: 1rem;
}

.titulo {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.datos {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.info-movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-movie p, .info-movie p span, .descripcion {
  font-size: 2rem;
}

.listado-generos {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-generos, .descripcion-titulo {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.generos {
  color: var(--color-blanco);
  font-size: 2rem;
  padding:  0 0.5rem;
}

.descripcion {
  width: 100%;
  padding: 0 2rem;
}
/* pantallas chicas*/
@media only screen and (max-width: 768px) {
  .card-movie {
    flex-direction: column;
    align-items: stretch;
    margin-right: 0; /* Evita el margen derecho innecesario */
  }

  .img-container {
    width: 100%;
    min-height: auto;
  }

  .info-container {
    width: 100%;
    position: static;
    padding: 2rem;
    text-align: center;
  }

  .btn-container {
    flex-direction: row;
  }

  .datos {
    flex-direction: column;
    text-align: center;
  }

  .info-movie {
    width: 100%;
  }
  .listado-generos {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
  }

  .generos {
    margin: 0.5rem; /* Agrega espacio entre los elementos de género */
  }

  .descripcion {
    padding: 0.5rem; /* Ajusta el relleno de la descripción */
  }
  
  
}
