@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

.movieList {
  margin-bottom: 30px;
}

.movieList h2 {
  margin: 0px 0px 0px 30px;
}

.movieList--container {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieList--list {
  transition: margin-left ease 0.5s;
}

.movieList--item {
  display: inline-block;
  cursor: pointer;
}

.movieList--item img {
  width: 100%;
  transform: scale(0.9);
  transition: transform ease 0.3s;
}

.movieList--item img:hover {
  transform: scale(1);
}

.movieList--Arrow-Left,
.movieList--Arrow-Right {
  position: absolute;
  width: 40px;
  /* height: 225px; */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: opacity ease 0.5s;
}

.movieList--Arrow-Left {
  left: 0;
}

.movieList--Arrow-Right {
  right: 0;
}

.movieList:hover .movieList--Arrow-Left,
.movieList:hover .movieList--Arrow-Right {
  opacity: 1;
}

@media (max-width: 768px) {
  .movieList--Arrow-Left,
  .movieList--Arrow-Right {
    opacity: 1;
  }
}
