
/* Estilos base para tamaños grandes de pantalla */
.ContenedorFormularios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .FormTitulos {
    display: flex;
    gap: 16px;
  }
  
  .Forms {
    display: flex;
    gap: 16px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .FormTitulos {
      flex-direction: column;
      align-items: center;
    }
  
    .Forms {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Otras media queries para tamaños de pantalla adicionales si es necesario */
  