.cont-btn {
    width: 80%;
    display: flex;
    justify-content: center;
}

.cont-btn .Boton{
    padding: 10px 0px;
    width: 170px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size:15px;
    font-weight: 600;
    background-color: rgb(180, 180, 180);
}

.cont-btn .Boton:hover{
    color:rgb(66, 66, 66) ;
    background: white;
    border: 2px solid var(--color-naranja);
}