.custom-calendar {
  font-family: 'Roboto';
  font-size: 16px;;
  width: 100%;
  /*max-width: 600px; /* Increased max-width to accommodate larger tiles */
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #003686;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Adjusted styles for larger tiles */
.calendar-day {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Increased padding to fit longer titles */
  border-bottom: 1px solid #ddd;
}

.calendar-events {
  display: flex;
  flex-direction: column; /* Changed flex direction to fit longer titles within the tile */
  align-items: center;
}

.calendar-event {
  background-color: #003686;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
}

.react-calendar__navigation, .react-calendar__navigation__arrow  {
  background-color: #003686;
  color: white;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase; 
  color: white;
}

.react-calendar__navigation__arrow:hover, .react-calendar__navigation__label:hover{
  color: #003686 !important;
  background-color: #E08400 !important;
}

.react-calendar__navigation__label:hover > .react-calendar__navigation__label__labelText {
  color: #003686 !important;
}

.react-calendar__month-view__weekdays {
  font-size: 20px;
  background-color: #003686;
  color: white;
}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none !important;
}

/* Mueve los números del calendario a la parte superior */
.react-calendar__month-view__days__day {
  align-self: flex-start;
}

/* Ajusta el estilo para garantizar que los números sigan siendo visibles y legibles */
.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px; /* Alto deseado */
}

.react-calendar__tile--active{
  background-color: #003686;
}

.react-calendar__tile abbr {
  font-size: 18px;
  font-weight: bold;
}

.tile-content {
  font-size: 16px;
}