.contenedorPrincipal_calendario {
  width: 100%;
  display:flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center
}

.subcontenedorPrincipal_calendario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 1rem; 
  padding: 1rem;
  
}

.titulo_calendario {
  text-align: center;
  text-transform: uppercase
}

.contenedor_calendario {
  width: 100%;
  display: flex;
  background-color: var(--color-azul)
}

.subcontenedor_calendario {
  width: 60%;
  padding: 1.5rem;
  background-color: var(--color-azul);
}

.custom-calendar {
  font-family: 'Roboto';
  font-size: 1.6rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-blanco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.calendar-day {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--color-blanco);
}

.calendar-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-event {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.react-calendar__navigation, .react-calendar__navigation__arrow  {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-radius: 1rem 0;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase; 
  color: var(--color-blanco);
}

.react-calendar__navigation__arrow:hover, .react-calendar__navigation__label:hover{
  color: var(--color-azul)!important;
  background-color: var(--color-naranja) !important;
}

.react-calendar__navigation__label:hover > .react-calendar__navigation__label__labelText {
  color: var(--color-azul) !important;
}

.react-calendar__month-view__weekdays {
  font-size: 2rem;
  background-color: var(--color-azul);
  color: var(--color-blanco)
}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none !important;
}

/* Mueve los números del calendario a la parte superior */
.react-calendar__month-view__days__day {
  align-self: flex-start;
}

/* Ajusta el estilo para garantizar que los números sigan siendo visibles y legibles */
.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 10rem; /* Alto deseado */
}

.react-calendar__tile--active{
  background-color: var(--color-azul);
}

.react-calendar__tile abbr {
  font-size: 1.8rem;
  font-weight: bold;
}

.tile-content {
  font-size: 1.6rem;
}

.poster_calendario {
  width: 40%;
  background-color: var(--color-azul);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
};

.poster_calendario:hover {
  background-color: var(--color-naranja);
}