.carruselHorizontal-section {
    min-height: calc(100vh - 8rem);
}

.carruselHorizontal-section .contenedor-carrusel-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    position: relative;
    background: var(--color-negro);
}

.carruselHorizontal-section .contenedor-carrusel-titulo .contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    padding: 1rem 0;
}

.carruselHorizontal-section .contenedor-carrusel-titulo  .contenedor-principal .container-carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carruselHorizontal-section .contenedor-carrusel-titulo  .contenedor-principal .container-carrusel .container-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0.5rem;
}

.carruselHorizontal-section .contenedor-carrusel-titulo  .contenedor-principal .container-carrusel .container-card .card-carrusel--horizontal {
    object-fit: contain;
    margin: 1rem;
}