.container-alert{
    font-family: 'Roboto';
}

.title-alert{
    font-size: 2rem;
    text-transform: uppercase;
}

.content-alert {
    font-size: 1.5rem !important;
}

.confirm-button-alert{
    padding: 1rem;
    font-size: 1.5rem !important;
    background-color: var(--color-azul) !important;
}

.cancel-button-alert{
    padding: 1rem;
    font-size: 1.5rem !important;
    background-color: var(--color-naranja) !important;
}
