.LayoutSecundario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-size: 1.5rem
}
