.LayoutMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para pantallas con ancho menor o igual a 360px */
@media (max-width: 360px) {
    .LayoutMain {
        width: 100%;
    }
}

/* Estilos para pantallas con ancho mayor a 360px y menor o igual a 768px */
@media (min-width: 361px) and (max-width: 768px) {
    .LayoutMain {
        width: 100%;
    }
}

/* Estilos para pantallas con ancho mayor a 768px */
@media (min-width: 769px) {
    .LayoutMain {
        flex-direction: column;
    }
}