.contenedor-mediaSelector {
    width: 100%;
    display:flex; 
    align-items: center; 
    justify-content:center;
    flex-direction:column
}

.contenedor-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    
}