footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #003686;
}
  
  .left,
  .right {
    margin: 0 10px;
    color: white
  }
  
  /* Estilos para el ícono de GitHub 
  .left a {
    color: #2F67BB;  Color azul 
    font-size: 24px;  Tamaño de fuente para el ícono 
  }*/

  .center {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  
  .center .link {
    text-decoration: none;
    color: white;
    font-size: 14px; 
  }

  p:hover {
    color:#E08400
  }
  
  /* Estilos para el ícono de Figma */
  .right a {
    color: #E0A24A; /* Color amarillo-naranja */
    width: 60px;
    height: 60px;

  }

  .Icono {
    color:white;
    object-fit: cover;
    height: 60px;
  }

  .Icono:hover {
    color:#E08400
  }
  
  /* Estilos para pantallas más grandes (mayores a 360px) */
/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left,
.right {
  margin: 0 10px;
}

.center {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.left a {
  color: #2F67BB;
  font-size: 24px;
}

button {
  background-color: #E08400;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.right a {
  color: #E0A24A;
  font-size: 24px;
} */

/* Media query para pantallas más pequeñas (hasta 360px) */
@media (max-width: 360px) {
  footer {
    flex-direction: column; /* Cambia la dirección de la flexbox a columna */
    align-items: stretch; /* Estira los elementos para llenar el ancho */
  }

  .left,
  .right {
    margin: 10px 0; /* Añade espacio entre los elementos */
  }

  .left a,
  .right a {
    font-size: 18px; /* Reduce el tamaño de fuente para iconos en pantallas pequeñas */
  }

  button {
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
    margin-top: 10px; /* Añade espacio entre el botón y el texto */
  }

  p {
    font-size: 12px; /* Reduce el tamaño de fuente para el texto */
  }
}
