.BotonGenero{
    padding: 10px 0px;
    width: 200px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-size:15px;
    font-weight: 600;
    background-color: rgb(180, 180, 180);
}

.BotonGenero:hover{
    color:rgb(66, 66, 66);
    background: white;
    border: 2px solid var(--color-naranja);
}

.BotonGenero.clicked {
    color: white;
    background-color: var(--color-azul);
    border: 2px solid var(--color-naranja);
}