nav ul {
    display:flex;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: gray;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
}
