:root {
    --color-azul: #003686;
    --color-naranja: #E08400;
    --color-negro: black;
    --color-blanco: white;
}

* {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
    font-size: 10px;
}



