/* Busqueda.css */
.busqueda-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(50% - 10px);
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box; /* Agrega esta línea para que el padding no afecte el ancho total */
  text-align: center; /* Alinea el contenido al centro */
  font-family: 'Roboto', sans-serif;
  background-color: "fff";
  border: 1px solid "ddd";
  border-radius: 8px;
}

.card img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% de su contenedor */
  height: auto;
  border-radius: 4px;
  }

  .card h3 {
    color: #2F67BB; /* Azul para títulos */
    font-weight: bold;
  }
  
  .card p {
    color: #003686; /* Azul oscuro para texto */
    font-weight: 400; /* Peso normal para texto */
  }
  
  /* Estilos para botones (puedes ajustar según tus necesidades) */
  .boton {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Semibold para botones */
    background-color: #E08400; /* Naranja para botones */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
@media (max-width: 360px) {
  .card {
    flex: 0 0 100%;
  }
}
